{% extends "layout.html.twig" %}

{% block title %}Twig - Web4350 Exchange{% endblock %}

{% block content %}
    <nav class="nav navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Web4350 Exchange</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-right">
            <li class="active">
                {#<button class="btn" onclick="document.getElementById('id01').style.display='block'">Login</button>#}
                <p data-toggle="modal" data-target="#myModal">Login</p>
                {% include 'login.html.twig' %}
            </li>
        </ul>
        <ul class="nav navbar-right">
            <li class="active">
                <p data-toggle="modal" data-target="#registration">Register</p>
                {% include 'registration.html.twig' %}
            </li>
        </ul>
    </nav>
{% endblock %}

