{% extends "layout.html.twig" %}

{% block title %}Twig - Web4350 Exchange{% endblock %}

{% block content %}
    <nav class="nav navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Web4350 Exchange</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">home</a></li>
        </ul>
    </nav>
{% endblock %}

